body {font-family: 'Open Sans', sans-serif;font-weight:500;font-size:24px;background:url(../img/body.webp) center top no-repeat #2a1e21;background-size: 100%;color:#2a1e21;}
a, a:hover, a:visited, a:active {text-decoration: none;}

.img-responsive {margin:0 auto;}
.pos {position:relative;}
.ultra-wrap {max-width:1920px;margin:0 auto;}

.yellow {color:#f6cc86;}
.white {color:#fff;}
.black {color:#2a1e21;}
.gray {color:#e1e1e1;}
.red {color:#d6251d;}
.blue {color:#21b4bf;}
.d-blue {color:#293439;}

.bold {font-weight:700;}
.t-shad {-webkit-text-shadow:4px 3px 0 #2a1e21;text-shadow:4px 3px 0 #2a1e21;}

h1, h2, h3, h4, h5, .cta-btn, ul li .s1, .feat-vehicle, .hear-more, .red-alert, .white-bar, .signup .sy-2, .tier-2 .feat-car .car-name-con, .tier-2 .feat-car .pro-t-con {font-family: "Days One", sans-serif;font-weight:700;font-style:normal;text-transform:uppercase;line-height:1.0;}
h1 {font-size:32px;}
h2 {font-size:60px;}
h3 {font-size:48px;}
h4 {font-size:30px;}
h5 {font-size:24px;}

.cta-btn {
	display:block;
	position:relative;
	width:100%;
	height:60px;
	line-height:60px;
	letter-spacing:0;
	margin:10px 0;
	color:#2a1e21;
	text-align:center;
	font-size:30px;
	/*-webkit-box-shadow:0 2px 0 rgba(0,0,0,1);
	box-shadow:0 2px 0 rgba(0,0,0,1);*/
	background:#eedb28;
	outline:none;
	border:none;
}
.cta-btn:hover {color:#2a1e21;}
.l-arrow {
	position:absolute;
	background:url(../img/dbl-arrow.png) center center no-repeat;
	width:176px;
	height:91px;
	background-size:100%;
	bottom:-5px;
    right:80%;
}
.d45-arrow {
	position:absolute;
	background:url(../img/45-arrow.png) center center no-repeat;
	width:112px;
	height:112px;
	background-size:100%;
	bottom:60px;
	right:80%;
}
.l-arrow, .d45-arrow {transition:0.5s;}

.type-mark {position:relative;text-decoration:underline;}
.type-mark::before {
	position: absolute;
    width: 88%;
    height: 3px;
    bottom: -8px;
    left: 6%;
    content: ' ';
    background: #d6251d;
	-webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.7);
	box-shadow:1px 1px 0 rgba(0,0,0,0.7);
}
.type-mark::after {
	position: absolute;
    width: 94%;
    height: 3px;
    bottom: -2px;
    left: 3%;
    content: ' ';
    background: #d6251d;
	-webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.7);
	box-shadow:1px 1px 0 rgba(0,0,0,0.7);
}
.fast-mark {
    position: relative;
    display: inline-block !important;
}

.fast-mark::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 7px;
    width: 100% !important;
    border: solid 4px #d6251d;
    border-color: #d6251d transparent transparent transparent;
    border-radius: 50%;
	opacity:0.65;
}
.closer .fast-mark::before {bottom: -4px;opacity:1.0;}

.jcd-underline {position:relative;}
.jcd-underline::after {
	position:absolute;
	content:' ';
	width:100%;
	height:8px;
	background:#d6251d;
	border-radius:4px;
	bottom:-4px;
	left:0;
	-webkit-box-shadow:4px 3px #2a1e21;
	box-shadow:4px 3px #2a1e21;
}
.tier-sep {padding:10px 0;}
.tier-sep-b h4 {margin-top:12px;text-align:right;}

/* ANIMATED SIGNUP BORDER */
@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
  }
  
  :root {
	--clr-1: #2a1e21;
	--clr-2: #262525;
	--clr-3: #21b4bf;
	--clr-4: #80bbbf;
	--clr-5: #d6251d;
	--clr-6: #eedb28;
  }  
  .signup::before,
  .signup::after {
	content: "";
	position: absolute;
	inset: -3px;
	background: conic-gradient(
	  from var(--gradient-angle),
	  var(--clr-1),
	  var(--clr-6),
	  var(--clr-6),
	  var(--clr-1),
	  var(--clr-1),
	  var(--clr-3),
	  var(--clr-3),
	  var(--clr-1),
	  var(--clr-1),
	  var(--clr-6),
	  var(--clr-6),
	  var(--clr-1),
	  var(--clr-1),
	  var(--clr-3),
	  var(--clr-3),
	  var(--clr-1)
	);
	border-radius: inherit;
	animation: rotation 5s linear infinite;
	z-index: -2;
  }
  
  .signup::after {
	filter: blur(1.5rem);
  }
  
  @keyframes rotation {
	0% {
	  --gradient-angle: 0deg;
	}
	100% {
	  --gradient-angle: 360deg;
	}
  }
/* END ANIMATED SIGNUP BORDER */
.signup-overlay {
	background:url(../img/signup-bg.webp) bottom center no-repeat #2a1e21;
	background-size:100%;
	border-radius:inherit;
	padding:15px;
	color:#e9e9de;
}
.hero .signup, .closer .signup {
	position:absolute;
	top:40px;
	right:0;
	z-index:3;
	padding:0;
	border-radius:25px;
}
.signup .cta {position:relative;}
.signup .cta .cta-btn::after {
	position:absolute;
	content:' ';
	width:176px;
	height:91px;
	background:url(../img/dbl-arrow.png) center top no-repeat;
	background-size:100%;
	top:50%;
	right:85%;
	transform:translateY(-50%);
	pointer-events:none;
}
.signup p {font-size: 12px;text-align: center;padding: 0 12%;}
.signup p a, .signup p a:hover, .signup p a:active {color:#e9e9de;}
.signup .sy-left {
	float:left;
	width:45%;
	margin-left:15px;
}
.signup .sy-right {
    float: left;
    width: 45%;
}
.signup .sy-1, .signup .sy-2 {line-height:1.1;margin:0;padding:0;display:block;}
.signup .sy-1 {font-weight:900;font-size:16px;text-transform:uppercase;margin-top:18px;}
.signup .sy-2 {font-weight:400;font-size:14px;}
.signup .sy-3 {
	text-transform:uppercase;
	font-weight:800;
	text-align:center;
	width:100%;
	display:block;
}
.signup .adj-contact {margin-top:10px;margin-bottom:12px;}
.signup .field-con {position:relative;margin-bottom:15px;}
.signup .field-con input, .signup .field-con label {transition:0.5s;}
.signup .field-con input {
	width:100%;
	height:40px;
	background:none;
	border:2px solid rgba(0,0,0,0.0);
	border-bottom: 2px solid #21b4bf;
	border-radius:0;
	outline:none;
	color:#21b4bf;
	font-size:18px;
	padding-top:5px;
	padding-left:25px;
}
.signup .field-con input::placeholder {opacity:0.0;color:#e9e9de;font-size:16px;}
.signup .field-con input:focus {
	background:#262525;
	border:2px solid #21b4bf;
	border-bottom:auto;
	color:#e9e9de;
	font-size:18px;
}
.signup .field-con input:focus:placeholder {opacity:1.0;}
.signup .field-con input:valid:placeholder {opacity:0.0;}
.signup .field-con label {
	position:absolute;
	top:50%;
	left:15px;
	transform: translateY(-50%);
	pointer-events:none;
	color:#80bbbf;
	text-transform:uppercase;
	line-height:1.0;
	font-size:16px;
	font-family: 'Syncopate', sans-serif;font-weight:700;
}
.signup .field-con input:focus,
.signup .field-con input:valid {
	border-radius:5px;
	border:2px solid #21b4bf;
}
.signup .field-con input:focus ~ label,
.signup .field-con input:valid ~ label {
	font-size:12px;
	letter-spacing:1.2;
	top:0;
	left:15px;
	padding:2px 05px;
	font-family: 'Open Sans', sans-serif;font-weight:500;font-weight:700;
}
.signup .field-con input:focus ~ label {
	border-left:2px solid rgba(0,0,0,0.0);
	border-right:2px solid rgba(0,0,0,0.0);
}
.signup .field-con input:valid ~ label {
	background-color:#2a1e21;
	border-left:2px solid #21b4bf;
	border-right:2px solid #21b4bf;
}
.signup .field-con input:focus ~ label {background-color:#21b4bf;color:#2a1e21}
.signup .field-con.adj-fc {margin-top:20px;margin-bottom:40px;}
.signup .field-con .adj-chk {
	height:20px;
	width:20px;
	border:1px solid #21b4bf;
	border-radius:5px;
	background-color:#2a1e21;
}
.signup .field-con .s1 {
	font-size:12px;
	width: calc(100% - 35px);
    float: right;
}

.hero {background:url(../img/bg-1.webp) center top no-repeat;min-height:800px;border-bottom:10px solid #d6251d;}
.hero h1, .closer h1 {line-height:0.95;margin-top:20px;letter-spacing:-2px;padding-left:20px;text-align:center;}
.hero h1 .s1, .closer h1 .s1 {font-size:72px;}
.hero h1 .s2, .closer h1 .s2 {font-size:48px;}
.hero h1, .closer h1 {-webkit-text-shadow:1px 1px 0 rgba(255,255,255,0.7);text-shadow:1px 1px 0 rgba(255,255,255,0.7)}
.hero h1 span.red, .closer h1 span.red {-webkit-text-shadow:1px 1px 0 rgba(0,0,0,0.7);text-shadow:1px 1px 0 rgba(0,0,0,0.7)}
.hero .vid-con {
	background:none;
	padding:0;
	margin-top:10px;
}
.hero .vid-box {
	background:#2a1e21;
	padding:15px;
	border-radius:25px;
	position:relative;
}
.hero .adj-1 {margin-top:30px;}
.hero .adj-2 {width:66%;margin:5px 15px;}
.hero .cash-hand {
	position: absolute;
    width: 100px;
    height: 80px;
    left: 70%;
    top: -80px;
    background: url(../img/cash-hand.png) center top no-repeat;
    background-size: 100%;
}

.tes-wrapper {padding:0;padding-top:10px;background:url(../img/checker.png) center top repeat-x #2a1e21;border-top:10px solid #f6cc86;}
.tes-wrapperb {padding:0;padding-bottom:10px;background:url(../img/checker.png) center bottom repeat-x;}
.tes-slider .slide {padding:0;}

.tier-2 {background:url(../img/bg-2a.webp) center top no-repeat #2a1e21;min-height:818px;}
.tier-2b {background:url(../img/bg-2b.webp) center bottom no-repeat;min-height:818px;padding-bottom:50px;}
.tier-2 .feat-deats {background:none;border:8px solid #f6cc86;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top:none;min-height:250px;}
.tier-2 .ico-holder {height:100px;}
.tier-2 .ico-holder img {margin:0 auto;padding:30px 0 0;}
.tier-2 .txt-holder {font-weight:800;font-size:16px;text-align:center;text-transform:uppercase;padding-top:30px;color:#d6251d;}
.tier-2 h2 {color:#f6cc86;}
.tier-2 .adj-1 {position:relative;}
.tier-2 .adj-1::after {
	position:absolute;
	content:' ';
	background:url(../img/best.webp) center top no-repeat;
	background-size:100%;
	width:170px;
	height:130px;
	top:-20px;
	left:-185px;
	z-index:2;
}
.tier-2 ul {position:relative;padding-top:15px;padding-bottom:15px;}
.tier-2 ul.adj-2::after {
	position:absolute;
	content:' ';
	width:8px;
	height:100%;
	background:#d6251d;
	border-radius:4px;
	top:0;
	left:-38px;
}
.tier-2 ul li {font-weight:800;text-transform:uppercase;line-height:1.0;margin:30px 0;color:#d6251d;}
.tier-2 ul li .s1 {color:#f6cc86;font-size:30px;position:relative;}
.tier-2 ul li .s1::after {
	position:absolute;
	content:' ';
	width:30px;
	height:21px;
	background:url(../img/t2-list-deco.png) center top no-repeat;
	top:8px;
	right:-40px;
}
.tier-2 .adj-3 {margin-top:30px;margin-bottom:30px;}
.tier-2 .feat-car {
	position:relative;
	border:8px solid #f6cc86;
	padding:0;
	border-radius:15px;
	overflow:hidden;
	margin-top:50px;
	text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;}
.tier-2 .feat-car .car-name-con {position:absolute;width:100%;padding:30px 50px;top:0;right:0;font-size:54px;color:#d6251d;text-align:right;}
.tier-2 .feat-car .car-name-con .white {font-size:70px;}
.tier-2 .feat-car .pro-t-con {position:absolute;width:33%;padding:30px 50px;bottom:0;left:0;font-size:50px;color:#21b4bf;text-align:center;line-height:0.75;}
.tier-2 .feat-car .pro-t-con .white {font-size:110px;}
.tier-2 .feat-cutout {position:absolute;width:50%;bottom:1px;right:0;}

.tier-3 {background:url(../img/bg-3a.webp) center top no-repeat #e1e1e1;}
.tier-3b {background: url(../img/bg-3b.webp) center bottom no-repeat; padding-bottom:100px;}
.tier-3 .cup {position:absolute;top:75px;left:200px;z-index:1;}
.tier-3 .adj-1 {position:relative;z-index:2;margin-top:180px;}
.tier-3 .winnerbox {border:8px solid #2a1e21;border-radius:10px;background:#cfcfc4;margin-top:15px;padding-left:0;padding-right:0;}
.tier-3 .winnerbox .winner {padding:60px 0;}
.tier-3 .winnerbox .winner h4 {color:#d6251d;text-align:center;}
.tier-3 .winnerbox .winner .col-sm-5 {padding:0;}
.tier-3 .winnerbox .winner p {font-size:16px;padding:15px;}
.tier-3 .winnerbox .winner .feat-vehicle {background:#2a1e21;color:#e9e9de;text-align:center;padding:5px;}
.tier-3 .winnerbox .winner .col-sm-6 {padding:0;}
.tier-3 .winnerbox .winner img {position:relative;border:12px solid #d6251d;background-color:#e9e9de;padding:12px;border-radius:30px;}
/*.tier-3 .winnerbox .winner img::after {
	content:' ';
	position:absolute;
	z-index:-1;
	top:8px;
	left:8px;
	right:8px;
	bottom:8px;
	border:24px solid #e9e9de;
}*/
.tier-3 .winnerbox .winner:nth-child(even) {background:#e9e9de;}
.tier-3 .hear-more {height:70px;line-height:70px;background:#21b4bf;color:#e9e9de;font-size:16px;text-align:center;border-left:8px solid #e1e1e1;}
.tier-3 .hear-more:hover, .tier-3 .hear-more:active {color:#e9e9de;}
.tier-sep-b {padding:25px 0;}

.tier-4a {background:url(../img/bg-4a.webp) center top no-repeat #2a1e21;min-height:1526px;border-bottom:10px solid #d6251d;}
.tier-4b {background:url(../img/bg-4b.webp) center bottom no-repeat;min-height:1124px;padding:150px 0 100px;color:#f6cc86;}
.tier-4b .jcd-underline::after {background:#d6251d;}
.tier-4b .adj-1 img {border-radius:30px;border:12px solid #f6cc86;}
.tier-4b .adj-2 {margin-top:-43px;}
.tier-4b .adj-2 p {margin-top:30px;}
.tier-4b .red-block {background:#2a1e21;border-radius:20px;border:8px solid #f6cc86;color:#f6cc86;margin-top:30px;padding:15px;min-height:350px;}
.tier-4b .red-block .ico-holder {margin-top:20px;margin-bottom:10px;}
.tier-4b .red-block.adj-3 {min-height:auto;}
.tier-4b .red-block.adj-3 .ico-holder {float:left;width:40%;}
.tier-4b .red-block.adj-3 .how-text {float:right;width:60%;}
.tier-4b .red-block .how-text h5 {text-align:center;}
.tier-4b .red-block .how-text a, .tier-4b .red-block .how-text a:hover {color:#e9e9de;}
.tier-4b .red-block.adj-3 .how-text h5 {text-align:left;}
.tier-4b .red-block.adj-3 .how-text p {padding:0 0 0 15px;}
.tier-4b .red-block p {font-size:16px;}
.tier-4b .red-alert {
	background: #2a1e21;
	border-radius:20px;
	border:8px solid #d6251d;
	padding:8px;
	margin-top:30px;
	color:#2a1e21;
}
.tier-4b .red-alert-b {
	background:#d6251d;
	border-radius:20px;
	height:200px;
}
.tier-4b .red-alert .rules {
	position:absolute;
	width:25%;
	bottom:20px;
	right:15px;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
}
.tier-4b .adj-4 {
	position:absolute;
	left:8px;
	top:-13px;
}
.tier-4b .adj-5 {
	margin-top:40px;
	padding-right:60px;
	float:right;
}
.tier-4b .adj-6 {margin-top:60px;}
.tier-4b .adj-7 {margin-top:30px;}
.tier-4b ul {padding-left:70px;margin-top:30px;}
.tier-4b ul li {position:relative;margin-top:30px;line-height:1.2;padding-right:60px;}
.tier-4b ul li::after {
	position:absolute;
	content:' ';
	height:70px;
	width:70px;
	background:url(../img/check.png) center center no-repeat;
	top:50%;
	transform:translateY(-50%);
	left:-85px;
}
.tier-4b ul li .red {font-weight:700;}
.tier-4b .cta {margin-top:30px;}

.closer {background:url(../img/bg-5.webp) center top no-repeat;border-top:10px solid #2a1e21;}
.closer, .closer .container {min-height:1015px;}
.closer .adj-1 {margin-top:10px;margin-bottom:10px;}
.closer .adj-2 {position:relative;z-index:2;margin-top: 34px;}
.closer .adj-3 {margin-top:-40px;}
.closer .feat {
	background-color: #f6cc86;
    padding: 18px;
    border-radius: 30px;
    border: 6px solid #2a1e21;
}
.closer .close-star {
	position:absolute;
	width:472px;
	height:482px;
	background:url(../img/t5-star.png) center center no-repeat;
	background-size:100%;
	top:-160px;
	left:-75px;
	z-index:1;
}
.closer .adj-4 {
	height:140px;
	position:relative;
	z-index:2;
	padding-top:25px;
	margin-top:10px;
}
.closer .adj-5 {margin-top:-55px;}
.closer .adj-6 {margin-top:60px;}
.closer .adj-6 p {font-size:18px;}
.closer .adj-7 {margin-top:-5px;position:relative;}
.closer .adj-7 .win-squares {
	position:absolute;
	width:100%;
	bottom: calc(100% + 30px);
	left:0;
	padding-left:15px;
}
.closer .signup {top:auto;bottom:10px;}


/* SLIDER CSS SLIDER CSS SLIDER CSS SLIDER CSS SLIDER CSS */
.scroller {max-width: 100%;}
.scroller__inner {padding-block: 0;display: flex;flex-wrap: wrap;gap: 10px;}
.scroller[data-animated="true"] {
  overflow: hidden;
  /*-webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 30%,
    black 70%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);*/
}
.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"] {--_animation-direction: reverse;}
.scroller[data-direction="left"] {--_animation-direction: forwards;}
.scroller[data-speed="fast"] {--_animation-duration: 20s;}
.scroller[data-speed="slow"] {--_animation-duration: 60s;}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 10px));
  }
}
/* general styles */
.tes-wrapper .scroller__inner img {}
.tier-2 .scroller__inner {padding-block: 30px;gap: 30px;}
.tier-2 .scroller__inner img {border: 8px solid #f6cc86;border-radius:10px;}
/* END SLIDER CSS END SLIDER CSS END SLIDER CSS END SLIDER CSS */

@media (min-width: 768px) {
	.cta-btn::after {transition: 0.5s;}
	.signup .cta .cta-btn:hover:after {right:80%;}
	.tier-sep-b .cta:hover .d45-arrow {bottom: 50px;rotate: -5deg;}
	.tier-4a .cta:hover .l-arrow, .tier-2.pos .cta:hover .l-arrow, .closer .cta:hover .l-arrow {right:75%;rotate: -5deg;}
}
@media (min-width: 1921px) {.ultra-wrap {-webkit-box-shadow:0 0 50px rgba(154, 18, 18, 0.25); box-shadow:0 0 50px rgba(154, 18, 18, 0.25);overflow:hidden;}}
@media (max-width: 1199px) {
	body {font-size:18px;}
	.type-mark::after, .type-mark::before {height: 2px;}
	.type-mark::after {bottom:-1px;}
	.type-mark::before {bottom:-6px;}
	.jcd-underline::after {height: 5px;}
	.closer .fast-mark::before {bottom: -6px;}
	h1 {font-size: 26px;}
	.hero h1 {margin-top:20px;}
	.hero h1 .s1, .closer h1 .s1 {font-size: 60px;}
	.hero h1 .s2, .closer h1 .s2 {font-size: 42px;}
	.closer h1 {margin-top: 20px;}
	h2 {font-size: 48px;}
	h3 {font-size: 36px;}
	h4 {font-size: 24px;}
	h5 {font-size: 18px;}
	.signup p {padding:0;font-size:10px;margin: 0 0 5px;}
	.signup .field-con.adj-fc {margin-bottom: 20px;}
	.cta-btn {height: 60px;line-height: 60px;font-size: 26px;}
	.signup .cta .cta-btn::after {width: 136px;height: 70px;}
	.hero .signup {top:10px;}
	.hero {min-height: 652px;background-size: 1560px;}
	.hero .cash-hand {width: 80px;height: 64px;right: 34%;top: -64px;}
	.tes-wrapperb .scroller__inner img {width:170px;}
	.tier-2 {background-size: 1200px;}
	.tier-2b {min-height: auto;background-size: 1200px;}
	.tier-2 .txt-holder {font-size: 14px;}
	.tier-2 .col-sm-2 {padding-left:5px;padding-right:5px;}
	.tier-2 .feat-deats {min-height: 230px;}
	.tier-2 .scroller__inner img {width:400px;}
	.tier-2 .adj-1::after {width: 140px;
        height: 108px;
        top: -10px;
        left: -139px;}
	.tier-2 ul {padding-top: 0px;padding-bottom: 5px;}
	.tier-2 ul li .s1 {font-size: 24px;}
	.tier-2 ul li .s1::after {width: 24px;height: 18px;top: 7px;right: -30px;background-size: 100%;}
	.tier-2 .adj-3 {margin-top: 0px;margin-bottom: 20px;}
	.tier-2 .feat-car .car-name-con {font-size: 42px;}
	.tier-2 .feat-car .car-name-con .white {font-size: 54px;}
	.tier-2 .feat-car .pro-t-con {font-size: 42px;}
	.tier-2 .feat-car .pro-t-con .white {font-size: 92px;}
	.tier-2 .feat-cutout {width: 55%;}
	.tier-3 {min-height: auto;padding-bottom: 0;background-size: 1200px;}
	.tier-3b {background-size: 1430px;}
	.tier-3 .adj-1 {margin-top: 100px;}
	.tier-3 .cup {top: 25px;}
	.d45-arrow {bottom: 60px;right: 92%;}
	.tier-4a {min-height: auto;background-size:1600px;}
	.tier-4b {min-height: auto;padding: 100px 0 50px;background-size:1200px;}
	.tier-4b .red-block p {font-size: 14px;}
	.tier-4b .red-alert-b {height: 167px;}
	.tier-4b ul li {margin-top: 25px;padding-right: 50px;}
	.tier-4b ul li::after {height: 50px;width: 50px;left: -65px;background-size: 100%;}
	.l-arrow {width: 120px;height: 64px;bottom: -2px;right: 80%;}
	.closer, .closer .container {min-height: auto;background-size: 1600px;padding-bottom:10px;}
	.closer .adj-4 {margin-top:-20px;height:auto;}
	.closer .signup {top: auto;bottom: -35px;}
}
@media (max-width: 991px) {
	body {font-size:14px;}
	.cta-btn {height: 50px;line-height: 50px;font-size: 20px;}
	h1 {font-size: 24px;}
	.signup .sy-1 {font-size: 14px;margin-top:7px;}
	signup .sy-2 {font-size: 12px;}
	.fast-mark::before {bottom: -5px;}
	.signup .sy-left {margin-left: 5px;}
	.signup .field-con input {height: 30px;font-size: 14px;}
	signup .field-con label {font-size: 14px;}
	.signup .cta .cta-btn::after {width: 116px;height: 60px;}
	.signup .sy-2 {font-size: 12px;}
	.hero h1 .s1, .closer h1 .s1 {font-size: 48px;}
	.hero h1 .s2, .closer h1 .s2 {font-size: 36px;}
	h2 {font-size: 32px;}
	h3 {font-size: 26px;}
	h4 {font-size: 16px;}
	h5 {font-size: 14px;}
	.type-mark::after {bottom: -1px;}
	.type-mark::before {bottom: -5px;}
	.hero {
        min-height: 510px;
        background-size: 1280px;
    }
	.hero .cash-hand {
        width: 60px;
        height: 48px;
        right: auto;
        left: 72%;
        top: -48px;
    }
	.tier-sep-b {
		padding: 5px 0;
	}
	.tes-wrapperb .scroller__inner img {width: 150px;}
	.tier-2 .scroller__inner img {width: 320px;}
	.tier-2 {background-size: 991px;}
	.tier-2b {background-size: 991px;}
	.tier-2 .adj-1::after {width: 140px;height: 108px;top: -20px;left: -126px;}
	.tier-2 .col-sm-2 {padding-left: 2px;padding-right: 2px;}
	.tier-2 .ico-holder {height: 90px;}
	.tier-2 .txt-holder {font-size: 12px;}
	.tier-2 .feat-deats {min-height: 200px;}
	.tier-2 .feat-car .car-name-con {font-size: 36px;}
	.tier-2 .feat-car .car-name-con .white {font-size: 42px;}
	.tier-2 .feat-car .pro-t-con {font-size: 32px;}
	.tier-2 .feat-car .pro-t-con .white {font-size: 68px;}
	.jcd-underline::after {height: 4px;bottom:-1px;}
	.tier-3 {background-size: 991px;padding-bottom:0;}
	.tier-3b {
        padding-bottom: 50px;
        background-size: 1171px;
    }
	.tier-3 .adj-1 {margin-top: 80px;}
	.tier-3 .cup {top: 33px;}
	.tier-3 .winnerbox .winner p {font-size: 12px;padding: 10px;}
	.tier-3 .hear-more {height: 50px;line-height: 50px;font-size: 12px;}
	.d45-arrow {bottom: 50px;right: 90%;width:82px;height:82px;}
	.l-arrow {width: 100px;height: 64px;bottom: -2px;right: 74%;}
	.tier-4a {background-size: 991px;}
	.tier-4b {background-size: 1240px;}
	.tier-4b .red-block {min-height: 310px;}
	.tier-4b .red-block p {font-size: 12px;}
	.tier-4b .red-alert .rules {font-size: 12px;}
	.tier-4b .red-alert-b {height: 112px;}
	.closer .adj-2 {margin-top: 36px;}
	.tier-4b .adj-2 p {margin-top: 20px;}
	.tier-4b .adj-5 {margin-top: 20px;}
	.tier-4b .adj-7 {margin-top: 10px;}
	.tier-4b ul li::after {height: 40px;width: 40px;left: -50px;}
	.closer, .closer .container {background-size: 1200px;padding-bottom: 10px;}
	.closer .close-star {width: 342px;height: 352px;top: -120px;left: -35px;}
	.closer .adj-6 {margin-top: 10px;}
	.closer .adj-6 p {font-size: 14px;}
	.closer .adj-7 {margin-top: 7px;}
}
@media (max-width: 767px) {
	body {font-size:14px;}
	.cta-btn {letter-spacing: -2px;}
	.t-shad {-webkit-text-shadow: 3px 2px 0 #2a1e21;text-shadow: 3px 2px 0 #2a1e21;}
	jcd-underline::after {-webkit-box-shadow: 3px 2px #2a1e21;box-shadow: 3px 2px #2a1e21;}
	.hero .signup, .closer .signup {position: relative;top: auto;right: auto;padding: 5px;}
	.signup::before, .signup::after {inset: 0;}
	.signup-overlay {padding:10px;}
	.signup .sy-3 {text-align: left;width: 54%;float: right;margin-top: -25px;}
	.hero .signup {margin-top:-100px;}
	.hero {min-height: auto;background-size: 1200px;background-position: left -150px top 0;background-image:none;}
	.hero .adj-1 {margin-top: 5px;width: 200px;margin-bottom:10px;}
	.hero .adj-2 {width: 100%;margin: 5px 0px;}
	h1 {font-size: 24px;}
	h2 {font-size: 24px;}
	h4 {font-size: 14px;}
	.hero h1 {text-align:right;}
	.hero h1 .s1, .closer h1 .s1 {font-size: 36px;}
	.hero h1 .s2, .closer h1 .s2 {font-size: 48px;}
	.hero .adj-3 {line-height:1.2;}
	.hero .vid-con {
		background: #1e1e1e;
		padding-bottom: 10px;
		padding-top: 1px;
		width: 100%;
		margin: 0 auto 0;
		padding-left: 0;
		padding-right: 0;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	.hero .vid-box {
		-webkit-box-shadow:none;
		box-shadow:none;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		overflow:hidden;
		background: #1e1e1e;
		padding:0;
	}
	.type-mark::after {height: 2px;bottom: -1px;}
	.hero .cash-hand {width:60px;height:75px;right:0;top:23px;}
	.tes-wrapperb .scroller[data-animated="true"] .scroller__inner {animation:none;gap: 3px;}
	.tes-wrapperb .scroller__inner img {width: 70px;}
	.tier-2 {background-size: 1200px;background-position: left top;}
	.tier-2b {background-size: 1600px;background-position: right -230px bottom 0;padding-bottom:40px;}
	.tier-2 .feat-car {border-left: none;border-right: none;margin-bottom:5px;}
	.tier-2 .feat-deats {border-top: 8px solid #e9e9de;border-radius: 10px;min-height: 170px;border-left: 8px solid #e9e9de;}
	.tier-2 .ico-holder {height: 80px;}
	.tier-2 .ico-holder img {margin: 0 auto;padding: 10px 30px 0;}
	.tier-2 .txt-holder {padding-top: 0px;}
	.tier-2 .col-sm-2 {padding: 5px;}
	.jcd-underline::after {height: 4px;bottom: -3px;}
	.tier-2 .adj-1::after {
        width: 100px;
        height: 77px;
        top: -27px;
        left: auto;
        right: 5px;
    }
	.tier-2 .scroller__inner img {border-left: none;border-right: none;}
	.tier-2 ul {padding-top: 0px;padding-bottom: 5px;padding-left: 20px;}
	.tier-2 ul.adj-2::after {height: 190%;left: 0px;}
	.tier-2 ul li {margin: 15px 0;}
	.tier-2 ul li .s1 {font-size: 18px;}
	.tier-2 ul li .s1::after {width: 16px;height: 12px;right: -21px;}
	.tier-2 .feat-car .car-name-con {font-size: 20px;padding:10px;}
	.tier-2 .feat-car .car-name-con .white {font-size: 26px;}
	.tier-2 .feat-car .pro-t-con {font-size: 24px;padding:10px;}
	.tier-2 .feat-car .pro-t-con .white {font-size: 54px;}
	.tier-2 .cd-box {width:50%;margin-top:30px;}
	.l-arrow {bottom: -12px;}
	.tier-3 {background-size: 530px;}
	.tier-3 .adj-1 {margin-top: 100px;}
	.tier-3 .cup {top: 30px;left: 0px;width: 40%;}
	.tier-3 .hear-more {border-left: none;width: 80%;margin: 0 auto;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
	.tier-3 .winnerbox {border: 12px solid #21b4bf;width: calc(100% - 30px);margin: 0 auto;}
	.tier-3 .winnerbox .winner {padding: 30px 0;}
	.tier-3 .winnerbox .winner p {padding: 10px 20px;}
	.tier-3 .winnerbox .winner img {border-left: none;border-right: none;padding-left: 0;padding-right: 0;}
	.tier-3 .winnerbox .winner .feat-vehicle {width: calc(100% - 100px);
    margin: 0 auto;}
	.tier-sep-b h4 {text-align: center;line-height:1.2;}
	.tier-4a {background-size: 850px;background-position: left -200px top 250px;}
	.tier-4b {padding: 50px 0 50px;background-size: 1600px;background-position: right -380px bottom 0;}
	.tier-4b .adj-1 img {border-left: none;border-right: none;padding-left: 0;padding-right: 0;}
	.tier-4b .adj-2 {margin-top: 0px;}
	.tier-4b .adj-2 h3 {text-align:center;}
	.tier-4b .red-block {min-height: auto;width: 70%;margin: 10px auto;}
	.tier-4b .red-block .ico-holder, .tier-4b .red-block.adj-3 .ico-holder {float: none;width: 50%;margin: 0 auto;}
	.tier-4b .red-block.adj-3 .how-text {float: none;width: 100%;}
	.tier-4b .red-block.adj-3 .how-text h5 {text-align: center;}
	.tier-4b .red-block.adj-3 .how-text p {padding: 0;}
	.tier-4b .red-alert-b {height: auto;padding-bottom: 20px;}
	.tier-4b .adj-4 {left: -1%;top: 50%;width: 35%;transform: translateY(-50%);}
	.tier-4b .adj-5 {padding-left: 33%;float: right;font-size:10px;padding-right:15px;}
	.tier-4b .adj-6 {margin-top: 0px;}
	.tier-4b .red-alert {width: calc(100% - 30px);margin: 30px auto;}
	.tier-4b .red-alert .rules {width: 50%;bottom: 10px;right: 25px;font-size: 10px;text-align: right;}
	.tier-4b .adj-6 h3 {text-align:center;}
	.tier-4b ul li {margin-top: 20px;padding-right: 60px;}
	.closer .feat {border-left: none;border-right: none;padding-left: 0;padding-right: 0;}
	.closer .adj-1 img {width: 75%;}
	.closer h1 {text-align:center;padding-right:35%;}
	.closer .close-girl {bottom: auto;left: 25%;top: 220px;width: 150px;}
	.closer .close-star {width: 402px;height: 412px;top: -120px;left: -20%;right: auto;}
	.closer .adj-3 {line-height:1.2;margin-top: -6px;}
	.closer, .closer .container {background-size: 1600px;padding-bottom: 10px;background-position: right -360px top;}
	.closer .signup {margin-top: -30px;}

}
@media (max-width: 411px) {
	h2 {font-size: 20px;}
	h3 {font-size: 22px;}
	.signup .sy-3 {width: 53.5%;margin-top: -23px;}
	.closer .signup .sy-3 {display:none;}
	.tier-2 .txt-holder {font-size: 11px;}
	.tier-2 .ico-holder {height: 65px;}
	.tier-2 .feat-deats {min-height: 150px;}
	.tier-2 .scroller__inner img {width: 260px;}
	.closer .close-star {left: -25%;}
}
@media (max-width: 389px) {
	h4 {font-size: 12px;}
	.hero .signup, .closer .signup {padding: 3px;}
	.hero .signup {margin-top: -80px;}
	.signup::before, .signup::after {background: none;}
	.signup .sy-3 {margin-top: -19px;font-size: 12px;}
	.tier-2 .ico-holder img {padding: 10px 25px 0;}
	.tier-2 .txt-holder {font-size: 10px;}
	.tier-2 .scroller__inner img {width: 220px;}
	.tier-3 .winnerbox .winner .feat-vehicle {width: calc(100% - 60px);}
	.closer .close-girl {top: 200px;}
	.closer .signup {margin-top: 0px;}
}
@media (max-width: 359px) {
	h3 {font-size: 18px;}
	.hero .signup {margin-top: -50px;}
	.signup .sy-3 {margin-top: -13px;font-size: 11px;}
	.tier-2 .feat-deats {border: 5px solid #e9e9de;min-height: 120px;}
	.tier-2 .ico-holder {height: 55px;}
	.tier-2 .feat-car .car-name-con {font-size: 16px;}
	.tier-2 .feat-car .car-name-con .white {font-size: 22px;}
	.tier-2 .feat-car .pro-t-con {font-size: 20px;}
	.tier-2 .feat-car .pro-t-con .white {font-size: 44px;}
	.tier-3 .winnerbox .winner .feat-vehicle {width: calc(100% - 30px);}
	.closer .close-girl {left: 17%;}
}